:root {
  --primary: #19793f;
  --secondary: #86ac43;
  --light-green: #71b280;
  --grey: #3a484e;
  --light-grey: #f0f0f0;
  --grey-blue: #134e5e;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

main {
  margin: 52px auto 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  font-weight: 100;
  color: var(--grey);
  margin: 0 0 14px;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 42px;
  font-weight: 300;
  color: white;
  margin-top: 0px;
  margin-bottom: 8px;
}

h2 {
  font-size: 24px;
  font-weight: 100;
  color: white;
  margin-top: 0px;
  margin-bottom: 24px;
}

.max-width {
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  p {
    font-size: 14px;
  }
}
